<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>

    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: rgb(223, 203, 203);
            text-align: center;
        }

        #main h1{
            color: green;
        }
    </style>
</head>
<body>
    <div id="main">
        <h1>Download Successfully...</h1>
    </div>
</body>
</html>